@font-face {
    font-family: 'Glasten';
    src: url('subset-Glasten.woff2') format('woff2'),
        url('subset-Glasten.woff') format('woff');
}



body {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;


}

a {
    text-decoration: none;
    color: #333;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}


.container {
    width: 100%;
    max-width: 1362px;
    margin: 0 auto;


}

.intro {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;

}

.intro__inner {
    width: 100%;
    margin: 0 auto;
    max-width: 1250px;
    text-align: center;
}

.logo {
    margin: 0 auto;
    padding-top: 25px;
    max-width: 100%;
    height: auto;
}


.intro__tittle {
    font-size: 36px;
    color: #000;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.3;
    max-width: 919px;
    text-align: center;
    margin: 0 auto 0 auto;



}



.header {
    width: 100%;
    position: absolute;
    z-index: 1000;
    display: flex;
    height: 110px;
    transition: all 0.7s ease;



}

.header__inner {
    display: flex;
}

.header__logo {
    display: none;
    transition: all 0.7s ease;
    z-index: 1000;



}

.nav {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    padding: 33px 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.nav__link {
    color: #000;
    display: inline-block;
    text-decoration: none;
    transition: color .1s linear;
    vertical-align: top;
    margin: 0 15px;

    padding-right: 5px;

}


.nav__link:hover {
    color: #bb0000
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;

    background-color: #bb0000;
    opacity: 0;


    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;

}

.nav__link:hover {
    color: rgb(255, 0, 0)
}


.nav__link:hover:after {
    opacity: 1;
}

.atelye {
    background: #fff;
    padding: 50px 0;


}


.tittle {
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    color: #000;


}

.tittle::after {
    display: block;
    content: '';
    width: 100px;
    background-color: #be364d;
    height: 3px;
    margin: 30px auto;

}

.atelye__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sector {
    font-size: 40px;
    padding: 0 0 15px 0;
}

.p {
    font-size: 30px;
    margin-top: 50px;
    max-width: 100%;
    text-align: start;
    padding-top: 0px;

}

#grey {
    background-color: #f0f0f0;
}


.catalog {
    background: #f0f0f0;
    height: 100%;
    padding: 50px 0;

}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0;

}

.block {
    width: 400px;
    height: auto;
    background-color: #fff;
    text-align: center;
    margin-bottom: 50px;
    max-width: 100%;
}

.catalog__subtittle {
    padding: 33px 0;
    font-weight: 700;
    font-size: 35px;
    color: #000;
}

.catalog__p {
    font-weight: 400;
    font-size: 22px;
    margin: 33px 20px;
}

/*photos of product*/
.blockimage {
    width: 100%;
    height: auto;
}



.about__inner {
    margin: 0px 0 25px 0;
}

.about__pp {
    font-size: 30px;
    color: #000;
    font-weight: 300;
    text-align: center;
    padding: 40px 0;
}

.contacts {
    background-color: #f0f0f0;
    padding-top: 70px;
    padding-bottom: 5px;
    height: 100%;

}



.cont__block {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 77px 0;
    text-align: center;

}


.contacts__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cont__sub {
    font-size: 35px;
    color: #000;


}

.cont__image {
    display: block;
    margin: 0 auto;

}

.cont__p {
    font-size: 20px;
}

.media {
    flex-wrap: wrap;
    margin: 50px 0;
}

.media__tittle {
    font-size: 40px;
    text-align: center;
    color: #000
}

.media__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.map {
    width: 100%;
    height: 500px;
    margin: 0 auto;

}

#adress {
    margin-bottom: 30px;
}

.adress {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 40px;
}

.adress__main {
    padding-top: 50px;
}

.footer {
    background-color: #000;
    width: 100%;
    height: 100%;

}

.footer__inner {
    display: flex;
    justify-content: space-around;
}

.copyright {
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    line-height: 5em;




}

#plan {
    color: #ffffff;
    z-index: 1000;
}

.sticky header {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    transition: all 0.7s ease;


}





/* медиазапросы*/

@media (max-width: 500px) {
    .logo {
        max-width: 300px;
        padding: 0;



    }


    .nav {
        display: none;
    }

    .intro__tittle {
        font-size: 25px;
        padding: 0 10px;
        margin-top: 30px;


    }

    .catalog__p {
        margin: 0px 22px 20px 22px;
    }

    .products {
        padding: 10px 0;
        display: block;
    }

    .sector {
        font-size: 25px;
    }

    li {
        font-size: 18px;
    }


    .tittle {
        font-size: 35px;
    }

    .p {
        margin: 0;

        font-size: 35px;
        text-align: center;
        padding: 0 5px;
    }

    .catalog__subtittle {
        font-size: 25px;
        padding: 20px 0;
    }

    .atlogo {
        width: 100%;
        height: 250px;
        max-width: 100%;
        min-height: 100%;
        align-items: center;
        background:
            url(images/atelye.jpeg) center no-repeat;
        margin: 35px 0;
        border-radius: 0px;
        box-shadow: none;
        margin-bottom: 0;
    }

    .atelye {
        padding-bottom: 20px;
    }

    .catalog {
        padding-bottom: 0;
    }

    .about__pp {
        padding: 5px 10px;
        font-size: 18px;
        font-weight: 200;
    }

    .about__inner {
        margin: 25px 0;
    }

    .contacts {
        padding-top: 30px;
    }

    .cont__sub {
        font-size: 25px;
    }

    .contacts__info {
        justify-content: center;
    }

    .cont__block {
        margin: 15px 0;
    }

    .media__info {
        justify-content: center;

    }

    .media__tittle {
        padding: 0px 0;
        font-size: 35px;
    }

    .adress {
        font-size: 25px;
    }

    .copyright {
        font-size: 17px;


    }

    #creator {
        margin-top: 40px;
    }


    .footer__inner {
        display: flex;
        flex-wrap: wrap;
    }

    #n {
        display: none;
    }


}
